body{
  padding-top: 56px;
}
.navbar{
  .navbar-brand{
    img{
      width: 40px;
      height: 40px;
    }
  }
}
footer{
  position: relative;
  bottom: 0;
  width: 100%;
}
#HomeSection, #AboutSection{
  //background-color: #e74c3c;
  color:white;
  padding: 0;
  #jumbotronImage{
    width: 100%;
  }
  .jumbotronTextOnImages{
    position: absolute;
    width: 100%;
  }
  #jumbotronHeading{
    margin-top: 20%;
  }
}
.teamMemberContainer{
  padding: 5px;
}
.teamMemberImage{
  margin-bottom: 10px;
}
.socialImages{
  width: 50px;
}
#ContactSection{
  background: #000;
  color: #FFF;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#contactButtonContainer{
  margin-top: 10px;
}